In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import json
% matplotlib inline

In [67]:
with open("stateandregionboundaries.geojson") as json_data:
    d = json.load(json_data)

In [74]:
for index in range(len(d['features'])-1):
    print d['features'][index]['properties']['st']

Ayeyarwady
Bago
Chin
Kachin
Kayah
Kayin
Magway
Mon
Rakhine
Sagaing
Shan
Tanintharyi
Yangon
Mandalay

In [115]:
Pcode = [d['features'][index]['properties']['st_pcode'] for index in range(len(d['features'])-1)]

In [83]:
coordinates = [d['features'][i]['geometry']['coordinates'] for index in range(len(d['features'])-1)]

In [123]:
df = pd.read_csv('Household_living_conditions.csv')

In [124]:
df.head()

,Region,access_to_credit_agriculture Poor,access_to_credit_agriculture Non_Poor,access_to_credit_Non-Agricultural_businesses Poor,access_to_credit_Non-Agricultural_businesses Non_Poor,access_to_credit_Non-Agricultural_businesses Urban,access_to_credit_Non-Agricultural_businesses Rural,access_to_electricity Poor,access_to_electricity Non_Poor,access_to_electricity Urban,...,Education Level of HouseHold Head secondary_school,Education Level of HouseHold Head post_secondary_school,Female Headed HouseHolds Poor,Female Headed HouseHolds Non_Poor,Landless Rate In Agriculture Poor,Landless Rate In Agriculture Non_Poor,Poverty Transition Matrix Chronic_Poor,Poverty Transition Matrix Non_Poor,Poverty Transition Matrix Descents,Poverty Transition Matrix Escapes
0,ayeyarwaddy,48.5,55.4,19.2,15.6,11.3,18.3,14.5,35.4,80.1,...,9.4,3.4,16.4,17.1,50.4,24.2,11.5,60.9,14.3,13.3
1,bago,44.5,38.4,10.2,15.1,15.7,13.8,17.7,33.9,77.0,...,7.8,2.6,19.9,21.8,69.6,35.4,5.6,66.8,9.7,17.9
2,chin,8.2,0.0,24.0,9.3,17.4,16.2,50.2,51.0,79.0,...,12.5,3.7,13.6,16.4,8.4,7.0,51.5,10.5,17.4,20.6
3,kachin,28.5,24.4,9.2,8.7,7.2,10.0,28.2,62.0,77.4,...,10.4,4.1,27.9,24.0,21.4,15.0,12.5,55.1,8.9,23.6
4,kayah,52.4,43.6,59.4,9.4,12.8,8.2,43.6,79.6,100.0,...,8.6,3.6,23.2,17.8,24.5,10.8,3.7,71.7,4.9,19.7

In [92]:
len(df)

15

In [103]:
df1 = pd.DataFrame(columns=[])
df1['coordinates'] = ['coordinates'] + coordinates

In [104]:
df1.to_csv('coordinates.csv',index = False)

In [105]:
len(df1)

15

In [106]:
df['coordinates'] = df1['coordinates']

In [125]:
df['Pcode'] = Pcode

In [126]:
df.to_csv('Household_living_conditions.csv', index= False)

In [127]:
df.head()

,Region,access_to_credit_agriculture Poor,access_to_credit_agriculture Non_Poor,access_to_credit_Non-Agricultural_businesses Poor,access_to_credit_Non-Agricultural_businesses Non_Poor,access_to_credit_Non-Agricultural_businesses Urban,access_to_credit_Non-Agricultural_businesses Rural,access_to_electricity Poor,access_to_electricity Non_Poor,access_to_electricity Urban,...,Education Level of HouseHold Head post_secondary_school,Female Headed HouseHolds Poor,Female Headed HouseHolds Non_Poor,Landless Rate In Agriculture Poor,Landless Rate In Agriculture Non_Poor,Poverty Transition Matrix Chronic_Poor,Poverty Transition Matrix Non_Poor,Poverty Transition Matrix Descents,Poverty Transition Matrix Escapes,Pcode
0,ayeyarwaddy,48.5,55.4,19.2,15.6,11.3,18.3,14.5,35.4,80.1,...,3.4,16.4,17.1,50.4,24.2,11.5,60.9,14.3,13.3,MMR017
1,bago,44.5,38.4,10.2,15.1,15.7,13.8,17.7,33.9,77.0,...,2.6,19.9,21.8,69.6,35.4,5.6,66.8,9.7,17.9,MMR111
2,chin,8.2,0.0,24.0,9.3,17.4,16.2,50.2,51.0,79.0,...,3.7,13.6,16.4,8.4,7.0,51.5,10.5,17.4,20.6,MMR004
3,kachin,28.5,24.4,9.2,8.7,7.2,10.0,28.2,62.0,77.4,...,4.1,27.9,24.0,21.4,15.0,12.5,55.1,8.9,23.6,MMR001
4,kayah,52.4,43.6,59.4,9.4,12.8,8.2,43.6,79.6,100.0,...,3.6,23.2,17.8,24.5,10.8,3.7,71.7,4.9,19.7,MMR002

In [135]:
import copy
import numpy as np
import pandas as pd
import geopandas as gpd

region_boundaries = gpd.read_file("stateandregionboundaries.geojson")

region = pd.DataFrame(region_boundaries[['cartodb_id', 'geometry', 'st', 'st_pcode']].values)
region.columns = ['cartodb_id', 'geometry', 'st', 'st_pcode']

region_data = pd.read_csv('Household_living_conditions.csv')

df_all = pd.merge(left=region_boundaries, right=region_data, left_on='st_pcode', right_on='Pcode')
# df_all.to_csv('region_data.csv')

In [138]:
df_all = df_all.drop('Pcode', axis =1)

In [141]:
df_all.to_csv('regional_data.csv', index = False)