In [19]:
from PyPDF2 import PdfFileWriter, PdfFileReader
import textract,re, pandas as pd

In [12]:
# inputpdf = PdfFileReader(open("data.pdf", "rb"))

# for i in xrange(inputpdf.numPages):
#     output = PdfFileWriter()
#     output.addPage(inputpdf.getPage(i))
#     with open("document-page%s.pdf" % i, "wb") as outputStream:
#         output.write(outputStream)

In [96]:
def clean(text):
    text = re.sub(r'[\x00-\x08\x0b\x0c\x0e-\x1f\x7f-\xff|\n]', ' ', text.lower())
    return text

In [112]:
data = pd.read_excel('data.xlsx')
data = data.values

In [113]:
l = [clean(data[i][0].strip()).encode('ascii', 'ignore').split() for i in range(0,len(data),2)]
l

[['kachin', '36.1', '67.8', '59.9', '25.6', '54.7', '43.0'],
 ['kayah', '45.9', '79.1', '76.3', '50.5', '56.5', '54.8'],
 ['kayin', '71.4', '68.3', '68.7', '26.6', '57.6', '54.6'],
 ['chin', '83.2', '77.7', '81.4', '73.0', '86.9', '77.4'],
 ['sagaing', '24.0', '47.7', '44.7', '19.5', '40.7', '35.9'],
 ['tanintharyi', '11.0', '35.6', '28.6', '4.9', '23.5', '18.2'],
 ['bago', '22.6', '48.3', '44.4', '18.5', '40.9', '35.0'],
 ['-', 'bago', '(e)', '27.4', '43.1', '40.6', '18.0', '36.5', '31.7'],
 ['-', 'bago', '(w)', '16.7', '53.6', '48.5', '19.0', '45.6', '38.5'],
 ['magwe', '10.6', '43.2', '35.7', '13.5', '26.5', '21.6'],
 ['mandalay', '39.8', '62.0', '57.0', '30.9', '52.3', '45.0'],
 ['mon', '37.9', '66.2', '62.3', '36.4', '52.8', '50.0'],
 ['rakhine', '5.0', '28.1', '19.6', '9.9', '19.6', '16.4'],
 ['yangon', '57.3', '89.6', '85.5', '50.9', '83.5', '79.5'],
 ['shan', '73.2', '77.2', '76.1', '58.4', '73.5', '67.3'],
 ['-', 'shan', '(s)', '66.0', '73.3', '71.8', '54.5', '73.1', '66.9'],
 ['-', 'shan', '(n)', '76.4', '80.6', '79.1', '61.0', '70.8', '66.2'],
 ['-', 'shan', '(e)', '76.6', '83.5', '80.8', '59.5', '83.8', '72.6'],
 ['ayeyarwady', '19.0', '46.5', '39.0', '20.5', '40.2', '35.1']]

In [114]:
s = ''
numbers = []
final = []
for j in l:
    for i in j:
        try:
            numbers.append(float(i))
        except:
            s+=i

    t = [s] + numbers
    final.append(t)
    s =''
    numbers = []

In [116]:
final

[['kachin', 36.1, 67.8, 59.9, 25.6, 54.7, 43.0],
 ['kayah', 45.9, 79.1, 76.3, 50.5, 56.5, 54.8],
 ['kayin', 71.4, 68.3, 68.7, 26.6, 57.6, 54.6],
 ['chin', 83.2, 77.7, 81.4, 73.0, 86.9, 77.4],
 ['sagaing', 24.0, 47.7, 44.7, 19.5, 40.7, 35.9],
 ['tanintharyi', 11.0, 35.6, 28.6, 4.9, 23.5, 18.2],
 ['bago', 22.6, 48.3, 44.4, 18.5, 40.9, 35.0],
 ['-bago(e)', 27.4, 43.1, 40.6, 18.0, 36.5, 31.7],
 ['-bago(w)', 16.7, 53.6, 48.5, 19.0, 45.6, 38.5],
 ['magwe', 10.6, 43.2, 35.7, 13.5, 26.5, 21.6],
 ['mandalay', 39.8, 62.0, 57.0, 30.9, 52.3, 45.0],
 ['mon', 37.9, 66.2, 62.3, 36.4, 52.8, 50.0],
 ['rakhine', 5.0, 28.1, 19.6, 9.9, 19.6, 16.4],
 ['yangon', 57.3, 89.6, 85.5, 50.9, 83.5, 79.5],
 ['shan', 73.2, 77.2, 76.1, 58.4, 73.5, 67.3],
 ['-shan(s)', 66.0, 73.3, 71.8, 54.5, 73.1, 66.9],
 ['-shan(n)', 76.4, 80.6, 79.1, 61.0, 70.8, 66.2],
 ['-shan(e)', 76.6, 83.5, 80.8, 59.5, 83.8, 72.6],
 ['ayeyarwady', 19.0, 46.5, 39.0, 20.5, 40.2, 35.1]]

In [118]:
names = [i[0] for i in final]
poor = [i[1] for i in final]
non_poor = [i[2] for i in final]
# urban = [i[3] for i in final]
total = [i[3] for i in final]
# rural = [i[4] for i in final]
df = pd.DataFrame(columns=['Region'])
df['Region'] = names
df['Poor'] = poor
df['Non_Poor'] = non_poor
df['Total'] = total    
# df['Urban'] = urban
# df['Rural'] = rural

In [119]:
df

         Region  Poor  Non_Poor  Total
0        kachin  36.1      67.8   59.9
1         kayah  45.9      79.1   76.3
2         kayin  71.4      68.3   68.7
3          chin  83.2      77.7   81.4
4       sagaing  24.0      47.7   44.7
5   tanintharyi  11.0      35.6   28.6
6          bago  22.6      48.3   44.4
7      -bago(e)  27.4      43.1   40.6
8      -bago(w)  16.7      53.6   48.5
9         magwe  10.6      43.2   35.7
10     mandalay  39.8      62.0   57.0
11          mon  37.9      66.2   62.3
12      rakhine   5.0      28.1   19.6
13       yangon  57.3      89.6   85.5
14         shan  73.2      77.2   76.1
15     -shan(s)  66.0      73.3   71.8
16     -shan(n)  76.4      80.6   79.1
17     -shan(e)  76.6      83.5   80.8
18   ayeyarwady  19.0      46.5   39.0

In [121]:
#df.to_csv('access_to_quality_roofing.csv')

In [ ]:
#http://stackoverflow.com/questions/490195/split-a-multi-page-pdf-file-into-multiple-pdf-files-with-python