In [1]:
from PyPDF2 import PdfFileWriter, PdfFileReader
import textract,re, pandas as pd

In [2]:
# inputpdf = PdfFileReader(open("FA1MMRPovertyProfile_Eng.pdf", "rb"))

# i = 57
# #for i in xrange(inputpdf.numPages):
# output = PdfFileWriter()
# output.addPage(inputpdf.getPage(i))
# with open("document-page%s.pdf" % i, "wb") as outputStream:
#     output.write(outputStream)

In [3]:
def clean(text):
    text = re.sub(r'[\x00-\x08\x0b\x0c\x0e-\x1f\x7f-\xff|\n]', ' ', text.lower())
    return text

In [4]:
data = pd.read_excel('data.xlsx')
data = data.values

In [5]:
l = [clean(data[i][0].strip()).encode('ascii', 'ignore').split() for i in range(0,len(data),2)]
l

[['kachin', '18.5', '7.9', '35.7', '23.4', '10.4', '4.1', '100.0'],
 ['kayah', '20.2', '3.6', '34.1', '29.9', '8.6', '3.6', '100.0'],
 ['kayin', '10.8', '8.2', '49.9', '20.8', '8.2', '2.2', '100.0'],
 ['chin', '14.0', '0.0', '46.3', '23.5', '12.5', '3.7', '100.0'],
 ['sagaing', '3.2', '11.8', '59.6', '15.7', '6.4', '3.2', '100.0'],
 ['tanintharyi', '8.9', '15.4', '48.2', '17.4', '8.4', '1.7', '100.0'],
 ['bago', '3.0', '5.9', '60.4', '20.3', '7.8', '2.6', '100.0'],
 ['bago', '(e)', '4.9', '7.1', '54.2', '22.3', '8.1', '3.3', '100.0'],
 ['bago', '(w)', '0.9', '4.6', '67.0', '18.1', '7.5', '1.9', '100.0'],
 ['magwe', '4.2', '12.2', '59.3', '15.6', '6.1', '2.5', '100.0'],
 ['mandalay', '6.7', '13.2', '46.1', '20.8', '9.3', '4.0', '100.0'],
 ['mon', '6.9', '6.4', '47.3', '22.8', '12.4', '4.1', '100.0'],
 ['rakhine', '16.7', '14.4', '37.0', '17.5', '10.7', '3.7', '100.0'],
 ['yangon', '4.0', '4.0', '27.2', '27.6', '26.4', '10.7', '100.0'],
 ['shan', '23.0', '17.1', '36.6', '16.3', '5.8', '1.3', '100.0'],
 ['shan', '(s)', '18.3', '8.9', '42.7', '22.5', '6.6', '1.0', '100.0'],
 ['shan', '(n)', '22.7', '24.5', '33.7', '11.2', '5.8', '2.1', '100.0'],
 ['shan', '(e)', '41.3', '21.1', '23.9', '11.2', '2.4', '0.0', '100.0'],
 ['ayeyarwaddy', '2.4', '5.6', '58.3', '20.9', '9.4', '3.4', '100.0'],
 ['urban', '4.9', '3.8', '28.4', '27.1', '24.2', '11.6', '100.0'],
 ['rural', '7.8', '11.5', '55.3', '17.8', '6.1', '1.4', '100.0'],
 ['poor', '12.5', '13.3', '52.8', '15.9', '4.7', '0.7', '100.0'],
 ['non', 'poor', '5.6', '8.4', '46.9', '21.5', '12.6', '5.1', '100.0']]

In [6]:
s = ''
numbers = []
final = []
for j in l:
    for i in j:
        try:
            numbers.append(float(i))
        except:
            s+=i

    t = [s] + numbers
    final.append(t)
    s =''
    numbers = []

In [7]:
final

[['kachin', 18.5, 7.9, 35.7, 23.4, 10.4, 4.1, 100.0],
 ['kayah', 20.2, 3.6, 34.1, 29.9, 8.6, 3.6, 100.0],
 ['kayin', 10.8, 8.2, 49.9, 20.8, 8.2, 2.2, 100.0],
 ['chin', 14.0, 0.0, 46.3, 23.5, 12.5, 3.7, 100.0],
 ['sagaing', 3.2, 11.8, 59.6, 15.7, 6.4, 3.2, 100.0],
 ['tanintharyi', 8.9, 15.4, 48.2, 17.4, 8.4, 1.7, 100.0],
 ['bago', 3.0, 5.9, 60.4, 20.3, 7.8, 2.6, 100.0],
 ['bago(e)', 4.9, 7.1, 54.2, 22.3, 8.1, 3.3, 100.0],
 ['bago(w)', 0.9, 4.6, 67.0, 18.1, 7.5, 1.9, 100.0],
 ['magwe', 4.2, 12.2, 59.3, 15.6, 6.1, 2.5, 100.0],
 ['mandalay', 6.7, 13.2, 46.1, 20.8, 9.3, 4.0, 100.0],
 ['mon', 6.9, 6.4, 47.3, 22.8, 12.4, 4.1, 100.0],
 ['rakhine', 16.7, 14.4, 37.0, 17.5, 10.7, 3.7, 100.0],
 ['yangon', 4.0, 4.0, 27.2, 27.6, 26.4, 10.7, 100.0],
 ['shan', 23.0, 17.1, 36.6, 16.3, 5.8, 1.3, 100.0],
 ['shan(s)', 18.3, 8.9, 42.7, 22.5, 6.6, 1.0, 100.0],
 ['shan(n)', 22.7, 24.5, 33.7, 11.2, 5.8, 2.1, 100.0],
 ['shan(e)', 41.3, 21.1, 23.9, 11.2, 2.4, 0.0, 100.0],
 ['ayeyarwaddy', 2.4, 5.6, 58.3, 20.9, 9.4, 3.4, 100.0],
 ['urban', 4.9, 3.8, 28.4, 27.1, 24.2, 11.6, 100.0],
 ['rural', 7.8, 11.5, 55.3, 17.8, 6.1, 1.4, 100.0],
 ['poor', 12.5, 13.3, 52.8, 15.9, 4.7, 0.7, 100.0],
 ['nonpoor', 5.6, 8.4, 46.9, 21.5, 12.6, 5.1, 100.0]]

In [8]:
names = [i[0] for i in final]
never_attended_school = [i[1] for i in final]
monastic_school = [i[2] for i in final]
primary_school = [i[3] for i in final]
middle_school = [i[4] for i in final]
secondary_school = [i[5] for i in final]
post_secondary_school = [i[6] for i in final]

#urban = [i[2] for i in final]
#total = [i[3] for i in final]
#rural = [i[3] for i in final]
df = pd.DataFrame(columns=['Region'])
df['Region'] = names
df['never_attended_school'] = never_attended_school
df['monastic_school'] = monastic_school
df['primary_school'] = primary_school
df['middle_school'] = middle_school
df['secondary_school'] = secondary_school
df['post_secondary_school'] = post_secondary_school
#df['Toal'] = post_secondary_school

In [9]:
df

,Region,never_attended_school,monastic_school,primary_school,middle_school,secondary_school,post_secondary_school
0,kachin,18.5,7.9,35.7,23.4,10.4,4.1
1,kayah,20.2,3.6,34.1,29.9,8.6,3.6
2,kayin,10.8,8.2,49.9,20.8,8.2,2.2
3,chin,14.0,0.0,46.3,23.5,12.5,3.7
4,sagaing,3.2,11.8,59.6,15.7,6.4,3.2
5,tanintharyi,8.9,15.4,48.2,17.4,8.4,1.7
6,bago,3.0,5.9,60.4,20.3,7.8,2.6
7,bago(e),4.9,7.1,54.2,22.3,8.1,3.3
8,bago(w),0.9,4.6,67.0,18.1,7.5,1.9
9,magwe,4.2,12.2,59.3,15.6,6.1,2.5
10,mandalay,6.7,13.2,46.1,20.8,9.3,4.0
11,mon,6.9,6.4,47.3,22.8,12.4,4.1
12,rakhine,16.7,14.4,37.0,17.5,10.7,3.7
13,yangon,4.0,4.0,27.2,27.6,26.4,10.7
14,shan,23.0,17.1,36.6,16.3,5.8,1.3
15,shan(s),18.3,8.9,42.7,22.5,6.6,1.0
16,shan(n),22.7,24.5,33.7,11.2,5.8,2.1
17,shan(e),41.3,21.1,23.9,11.2,2.4,0.0
18,ayeyarwaddy,2.4,5.6,58.3,20.9,9.4,3.4
19,urban,4.9,3.8,28.4,27.1,24.2,11.6
20,rural,7.8,11.5,55.3,17.8,6.1,1.4
21,poor,12.5,13.3,52.8,15.9,4.7,0.7
22,nonpoor,5.6,8.4,46.9,21.5,12.6,5.1

In [10]:
df.to_csv('Education Level of the Household Head.csv')

In [ ]:
#http://stackoverflow.com/questions/490195/split-a-multi-page-pdf-file-into-multiple-pdf-files-with-python