In [1]:
from PyPDF2 import PdfFileWriter, PdfFileReader
import textract,re, pandas as pd

In [2]:
# inputpdf = PdfFileReader(open("FA1MMRPovertyProfile_Eng.pdf", "rb"))

# i = 57
# #for i in xrange(inputpdf.numPages):
# output = PdfFileWriter()
# output.addPage(inputpdf.getPage(i))
# with open("document-page%s.pdf" % i, "wb") as outputStream:
#     output.write(outputStream)

In [27]:
def clean(text):
    text = re.sub(r'[\x00-\x08\x0b\x0c\x0e-\x1f\x7f-\xff|\n]', ' ', text.lower())
    return text

In [28]:
data = pd.read_excel('data.xlsx')
data = data.values

In [29]:
l = [clean(data[i][0].strip()).encode('ascii', 'ignore').split() for i in range(0,len(data),2)]
l

[['kachin', '27.9', '24.0', '36.7', '20.9', '25.0', '22.8'],
 ['kayah', '23.2', '17.8', '27.1', '12.6', '18.2', '18.3'],
 ['kayin', '24.5', '21.5', '24.8', '21.3', '21.9', '18.9'],
 ['chin', '13.6', '16.4', '7.8', '16.9', '14.6', '10.4'],
 ['sagaing', '22.3', '21.2', '25.2', '20.7', '21.3', '17.3'],
 ['tanintharyi', '24.5', '20.5', '18.5', '22.5', '21.6', '20.2'],
 ['bago', '19.9', '21.8', '27.9', '20.5', '21.5', '18.2'],
 ['-', 'bago', '(e)', '24.7', '26.7', '34.8', '24.8', '26.4', '21.0'],
 ['-', 'bago', '(w)', '14.0', '16.8', '18.1', '16.2', '16.4', '15.3'],
 ['magwe', '20.1', '21.8', '28.5', '20.6', '21.4', '20.8'],
 ['mandalay', '18.3', '23.7', '27.3', '20.6', '22.5', '20.9'],
 ['mon', '19.6', '16.1', '21.5', '15.5', '16.6', '17.3'],
 ['rakhine', '18.8', '20.9', '22.6', '19.4', '20.1', '19.5'],
 ['yangon', '19.0', '26.1', '28.4', '16.1', '25.2', '24.4'],
 ['shan', '13.0', '19.2', '27.8', '14.0', '17.4', '14.3'],
 ['-', 'shan', '(s)', '7.1', '16.4', '22.1', '11.5', '14.6', '11.1'],
 ['-', 'shan', '(n)', '17.3', '24.0', '37.0', '17.8', '21.7', '18.0'],
 ['-', 'shan', '(e)', '10.6', '13.8', '26.5', '8.5', '12.5', '12.8'],
 ['ayeyarwaddy', '16.4', '17.1', '21.8', '15.9', '16.9', '14.3']]

In [30]:
s = ''
numbers = []
final = []
for j in l:
    for i in j:
        try:
            numbers.append(float(i))
        except:
            s+=i

    t = [s] + numbers
    final.append(t)
    s =''
    numbers = []

In [32]:
final

[['kachin', 27.9, 24.0, 36.7, 20.9, 25.0, 22.8],
 ['kayah', 23.2, 17.8, 27.1, 12.6, 18.2, 18.3],
 ['kayin', 24.5, 21.5, 24.8, 21.3, 21.9, 18.9],
 ['chin', 13.6, 16.4, 7.8, 16.9, 14.6, 10.4],
 ['sagaing', 22.3, 21.2, 25.2, 20.7, 21.3, 17.3],
 ['tanintharyi', 24.5, 20.5, 18.5, 22.5, 21.6, 20.2],
 ['bago', 19.9, 21.8, 27.9, 20.5, 21.5, 18.2],
 ['-bago(e)', 24.7, 26.7, 34.8, 24.8, 26.4, 21.0],
 ['-bago(w)', 14.0, 16.8, 18.1, 16.2, 16.4, 15.3],
 ['magwe', 20.1, 21.8, 28.5, 20.6, 21.4, 20.8],
 ['mandalay', 18.3, 23.7, 27.3, 20.6, 22.5, 20.9],
 ['mon', 19.6, 16.1, 21.5, 15.5, 16.6, 17.3],
 ['rakhine', 18.8, 20.9, 22.6, 19.4, 20.1, 19.5],
 ['yangon', 19.0, 26.1, 28.4, 16.1, 25.2, 24.4],
 ['shan', 13.0, 19.2, 27.8, 14.0, 17.4, 14.3],
 ['-shan(s)', 7.1, 16.4, 22.1, 11.5, 14.6, 11.1],
 ['-shan(n)', 17.3, 24.0, 37.0, 17.8, 21.7, 18.0],
 ['-shan(e)', 10.6, 13.8, 26.5, 8.5, 12.5, 12.8],
 ['ayeyarwaddy', 16.4, 17.1, 21.8, 15.9, 16.9, 14.3]]

In [33]:
names = [i[0] for i in final]
poor = [i[1] for i in final]
non_poor = [i[2] for i in final]
#urban = [i[2] for i in final]
#total = [i[3] for i in final]
#rural = [i[3] for i in final]
df = pd.DataFrame(columns=['Region'])
df['Region'] = names
df['Poor'] = poor
df['Non_Poor'] = non_poor
#df['Descents'] = urban
#df['Escapes'] = rural
#df['Urban'] = urban
#df['Rural'] = rural

In [34]:
df

         Region  Poor  Non_Poor
0        kachin  27.9      24.0
1         kayah  23.2      17.8
2         kayin  24.5      21.5
3          chin  13.6      16.4
4       sagaing  22.3      21.2
5   tanintharyi  24.5      20.5
6          bago  19.9      21.8
7      -bago(e)  24.7      26.7
8      -bago(w)  14.0      16.8
9         magwe  20.1      21.8
10     mandalay  18.3      23.7
11          mon  19.6      16.1
12      rakhine  18.8      20.9
13       yangon  19.0      26.1
14         shan  13.0      19.2
15     -shan(s)   7.1      16.4
16     -shan(n)  17.3      24.0
17     -shan(e)  10.6      13.8
18  ayeyarwaddy  16.4      17.1

In [35]:
df.to_csv('female-headed_households.csv')

In [ ]:
#http://stackoverflow.com/questions/490195/split-a-multi-page-pdf-file-into-multiple-pdf-files-with-python