In [1]:
from PyPDF2 import PdfFileWriter, PdfFileReader
import textract,re, pandas as pd

In [2]:
inputpdf = PdfFileReader(open("FA1MMRPovertyProfile_Eng.pdf.pdf", "rb"))

#for i in xrange(inputpdf.numPages):
output = PdfFileWriter()
output.addPage(inputpdf.getPage(i))
with open("document-page%s.pdf" % i, "wb") as outputStream:
    output.write(outputStream)

In [3]:
def clean(text):
    text = re.sub(r'[\x00-\x08\x0b\x0c\x0e-\x1f\x7f-\xff|\n]', ' ', text.lower())
    return text

In [15]:
data = pd.read_excel('data.xlsx')
data = data.values

In [16]:
l = [clean(data[i][0].strip()).encode('ascii', 'ignore').split() for i in range(0,len(data),2)]
l

[['kachin', '80.7', '92.9', '95.9', '87.0', '89.4', '83.9'],
 ['kayah', '77.3', '89.4', '91.8', '85.9', '88.0', '88.5'],
 ['kayin', '77.8', '77.2', '80.3', '76.7', '77.3', '55.4'],
 ['chin', '99.5', '99.4', '100.0', '99.3', '99.4', '77.0'],
 ['sagaing', '64.9', '74.2', '78.6', '71.8', '72.8', '59.9'],
 ['tanintharyi', '55.6', '56.7', '56.8', '56.2', '56.4', '53.5'],
 ['bago', '81.9', '81.2', '87.1', '80.4', '81.3', '65.8'],
 ['bago', '(e)', '92.2', '90.8', '99.7', '89.6', '91.1', '73.1'],
 ['bago', '(w)', '65.3', '69.8', '64.6', '69.6', '69.1', '55.8'],
 ['magwe', '64.4', '61.9', '85.3', '60.2', '62.6', '56.8'],
 ['mandalay', '67.7', '79.4', '88.2', '71.5', '76.3', '75.5'],
 ['mon', '65.2', '82.8', '82.1', '79.4', '79.9', '86.6'],
 ['rakhine', '42.6', '54.9', '73.7', '43.2', '49.5', '41.4'],
 ['yangon', '57.6', '80.3', '81.8', '61.0', '76.7', '86.1'],
 ['shan', '81.3', '84.0', '91.2', '80.6', '83.1', '65.1'],
 ['shan', '(s)', '83.3', '85.7', '88.3', '84.0', '85.1', '52.8'],
 ['shan', '(n)', '76.8', '79.2', '93.0', '74.3', '78.3', '74.4'],
 ['shan', '(e)', '89.9', '94.5', '96.8', '91.0', '92.4', '75.8'],
 ['ayeyarwaddy', '44.1', '44.9', '61.3', '41.5', '44.6', '36.1']]

In [17]:
s = ''
numbers = []
final = []
for j in l:
    for i in j:
        try:
            numbers.append(float(i))
        except:
            s+=i

    t = [s] + numbers
    final.append(t)
    s =''
    numbers = []

In [18]:
final

[['kachin', 80.7, 92.9, 95.9, 87.0, 89.4, 83.9],
 ['kayah', 77.3, 89.4, 91.8, 85.9, 88.0, 88.5],
 ['kayin', 77.8, 77.2, 80.3, 76.7, 77.3, 55.4],
 ['chin', 99.5, 99.4, 100.0, 99.3, 99.4, 77.0],
 ['sagaing', 64.9, 74.2, 78.6, 71.8, 72.8, 59.9],
 ['tanintharyi', 55.6, 56.7, 56.8, 56.2, 56.4, 53.5],
 ['bago', 81.9, 81.2, 87.1, 80.4, 81.3, 65.8],
 ['bago(e)', 92.2, 90.8, 99.7, 89.6, 91.1, 73.1],
 ['bago(w)', 65.3, 69.8, 64.6, 69.6, 69.1, 55.8],
 ['magwe', 64.4, 61.9, 85.3, 60.2, 62.6, 56.8],
 ['mandalay', 67.7, 79.4, 88.2, 71.5, 76.3, 75.5],
 ['mon', 65.2, 82.8, 82.1, 79.4, 79.9, 86.6],
 ['rakhine', 42.6, 54.9, 73.7, 43.2, 49.5, 41.4],
 ['yangon', 57.6, 80.3, 81.8, 61.0, 76.7, 86.1],
 ['shan', 81.3, 84.0, 91.2, 80.6, 83.1, 65.1],
 ['shan(s)', 83.3, 85.7, 88.3, 84.0, 85.1, 52.8],
 ['shan(n)', 76.8, 79.2, 93.0, 74.3, 78.3, 74.4],
 ['shan(e)', 89.9, 94.5, 96.8, 91.0, 92.4, 75.8],
 ['ayeyarwaddy', 44.1, 44.9, 61.3, 41.5, 44.6, 36.1]]

In [19]:
names = [i[0] for i in final]
poor = [i[1] for i in final]
non_poor = [i[2] for i in final]
urban = [i[3] for i in final]
#total = [i[3] for i in final]
rural = [i[4] for i in final]
df = pd.DataFrame(columns=['Region'])
df['Region'] = names
df['Poor'] = poor
df['Non_Poor'] = non_poor
#df['Total'] = total    
df['Urban'] = urban
df['Rural'] = rural

In [20]:
df

         Region  Poor  Non_Poor  Urban  Rural
0        kachin  80.7      92.9   95.9   87.0
1         kayah  77.3      89.4   91.8   85.9
2         kayin  77.8      77.2   80.3   76.7
3          chin  99.5      99.4  100.0   99.3
4       sagaing  64.9      74.2   78.6   71.8
5   tanintharyi  55.6      56.7   56.8   56.2
6          bago  81.9      81.2   87.1   80.4
7       bago(e)  92.2      90.8   99.7   89.6
8       bago(w)  65.3      69.8   64.6   69.6
9         magwe  64.4      61.9   85.3   60.2
10     mandalay  67.7      79.4   88.2   71.5
11          mon  65.2      82.8   82.1   79.4
12      rakhine  42.6      54.9   73.7   43.2
13       yangon  57.6      80.3   81.8   61.0
14         shan  81.3      84.0   91.2   80.6
15      shan(s)  83.3      85.7   88.3   84.0
16      shan(n)  76.8      79.2   93.0   74.3
17      shan(e)  89.9      94.5   96.8   91.0
18  ayeyarwaddy  44.1      44.9   61.3   41.5

In [21]:
df.to_csv('access_to_safe_drinking_water.csv')

In [ ]:
#http://stackoverflow.com/questions/490195/split-a-multi-page-pdf-file-into-multiple-pdf-files-with-python